<li
  class="report"
  data-errors-count="{errorCount}"
  data-warnings-count="{warningCount}"
  data-notices-count="{noticeCount}">
  <svg viewBox="0 0 64 64" class="small pie" data-result-type="error">
    <title>
      {errorCount} errors,
      {warningCount} warnings,
      {noticeCount} notices.
    </title>
    <circle
      r="25%" cx="50%" cy="50%"
      stroke-dashoffset="{errorOffset}"
      stroke-dasharray="{errorPercentage} 100"
      data-result-type="error" />
    <circle
      r="25%" cx="50%" cy="50%"
      stroke-dashoffset="{warningOffset}"
      stroke-dasharray="{warningPercentage} 100"
      data-result-type="warning" />
    <circle
      r="25%" cx="50%" cy="50%"
      stroke-dashoffset="{noticeOffset}"
      stroke-dasharray="{noticePercentage} 100"
      data-result-type="notice" />
  </svg>
  <a href="{reportUrl}">{url}</a>
  <span class="notes">{noteCodeLinks|raw}</span>
  <script>
    stats.push({
      errors: {errorCount},
      warnings: {warningCount},
      notices: {noticeCount}
    });
  </script>
</li>
